@import "tailwindcss";
@reference "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --foreground-rgb: 237, 237, 237;
  --background-start-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1F1F1F;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #333;
}

/* Typography styles for Markdown */
.prose h1 {
  @apply text-3xl font-bold tracking-tight mb-6 mt-10;
}

.prose h2 {
  @apply text-xl font-semibold tracking-tight mb-4 mt-8 text-white;
}

.prose p {
  @apply text-[#EDEDED] leading-relaxed mb-4 opacity-90;
}

.prose ul {
  @apply list-disc list-inside mb-4 space-y-1 text-[#8A8A8A];
}

.prose li strong {
  @apply text-[#EDEDED] font-medium;
}
